force-app/main/default/flows/SF_Custom_Lead_Conversion_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Input_Values_to_Apex</name>
        <label>Send Input Values to Apex</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>LeadConversionProcessor</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountName</name>
            <value>
                <elementReference>accountValueNameInput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactFirstName</name>
            <value>
                <elementReference>contactNameInput.firstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactLastName</name>
            <value>
                <elementReference>contactNameInput.lastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createOpportunityFlag</name>
            <value>
                <elementReference>varCreateOpportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadEmail</name>
            <value>
                <elementReference>Get_Lead_Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>Get_Lead_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityName</name>
            <value>
                <elementReference>varOpportunityInput</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LeadConversionProcessor</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Send input values to the Apex class - LeadConversionProcessor</description>
        <name>Send_Input_Values_to_Apex_Class</name>
        <label>Send Input Values to Apex Class</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>LeadConversionProcessor</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountName</name>
            <value>
                <elementReference>accountValueNameInput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactFirstName</name>
            <value>
                <elementReference>contactNameInput.firstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactLastName</name>
            <value>
                <elementReference>contactNameInput.lastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createOpportunityFlag</name>
            <value>
                <elementReference>varCreateOpportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadEmail</name>
            <value>
                <elementReference>Get_Lead_Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>Get_Lead_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityName</name>
            <value>
                <elementReference>varOpportunityInput</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LeadConversionProcessor</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Opportunity_Input</name>
        <label>Assign Opportunity Input</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varOpportunityInput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreateOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Input_Values_to_Apex_Class</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_Create_Opportunity_Checkbox</name>
        <label>Check - Create Opportunity Checkbox</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Send_Input_Values_to_Apex</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ifUnchecked?</defaultConnectorLabel>
        <rules>
            <name>ifChecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Opportunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createOpportunity</targetReference>
            </connector>
            <label>ifChecked?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Lead_Record_With_Status_Value</name>
        <label>Check Lead Record With Status Value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ifNull?</defaultConnectorLabel>
        <rules>
            <name>ifNotNullAndStatusIsConverted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Converted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account</targetReference>
            </connector>
            <label>ifNotNull-StatusAsConverted?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>#SF - Custom Lead Conversion Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>#SF - Custom Lead Conversion Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Lead_Record</name>
        <label>Get Lead Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Lead_Record_With_Status_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <fields>
            <name>accountValueNameInput</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Lead_Record.Company</elementReference>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_Your_Choice</targetReference>
        </connector>
        <fields>
            <name>contactNameInput</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>Get_Lead_Record.FirstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>Get_Lead_Record.LastName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>createOpportunity</name>
        <label>Create Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Opportunity_Input</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Message</name>
        <label>Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayErrorMessage</name>
            <fieldText>&lt;p&gt;Mark the status value as Converted.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Your_Choice</name>
        <label>Select Your Choice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Create_Opportunity_Checkbox</targetReference>
        </connector>
        <fields>
            <name>Create_Opportunity</name>
            <dataType>Boolean</dataType>
            <fieldText>Create Opportunity</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactFirstNameInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactLastNameInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCreateOpportunity</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varLeadEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOpportunityInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
